<div class="login-container">
  <img src="assets/logo.png" alt="Logo" class="logo">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
    </div>
    <div *ngIf="error" class="error-message">{{ error }}</div>
    <button type="submit" [disabled]="">Login</button>
  </form>
  <div class="forgot-password">
    <a routerLink="/cost-accounting">Forgot Password?</a>
</div>
</div>
